body{
    margin: 0;
    padding: 0;
}
#ui {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#main-ui {
    position: absolute;
    display: none;
    
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 100px 200px;
    box-sizing: border-box;
}

#main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#title {
    font-size: 60px;
}

#game-text {
    padding-top: 200px;
    font-size: 24px;
}

#aside-text {
    position: relative;
}
#aside-text.erase{
    animation-name: hide;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.unselectable {
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#choices {
    padding-left: 1em;
    margin-top: 1em;
}
#choices.out .choice{
    animation-name: eraseOut;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.choice {
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    position: relative;
    animation-name: showUp;
    animation-duration: .7s;
}
#choices.out .choice.chosen{
    animation-delay: .2s;
    animation-duration: .5s;
}
.choice:hover{
    background-color: black;
    color:white;
}
.choice::before{
    content: ">";
    color: transparent;
    padding-right: 10px;
}
.choice:hover::before{
    content: ">";
    color: inherit;
}

@keyframes showUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes eraseOut{
    from{
        left:0;
    }
    to{
        left: 50px;
        opacity: 0;
    }
}
@keyframes hide{
    to{
        opacity: 0;
    }
}