body{
    margin: 0;
    padding: 0;
}
#ui {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    transform: translateZ(0);
    color: white;
}

#main-ui {
    position: absolute;
    display: none;
    
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 100px 200px;
    box-sizing: border-box;
}

#main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#title {
    font-size: 60px;
}

#game-text {
    padding-top: 200px;
    font-size: 24px;
}

#aside-text {
    position: relative;
    max-width: 60%;
    line-height: 1.8;
}
#aside-wrapper.erase{
    animation-name: hide;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.unselectable {
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#choices {
    padding-left: 1em;
    margin-top: 1em;
}
#choices.out .choice{
    animation-name: eraseOut;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.choice {
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    position: relative;
    animation-name: showUp;
    animation-duration: .7s;
}
#choices.out .choice.chosen{
    animation-delay: .2s;
    animation-duration: .5s;
}
.choice:hover{
    background-color: black;
    color:white;
}
.choice::before{
    content: ">";
    padding-right: 10px;
}
.choice:hover::before{
    content: ">";
    color: inherit;
}

@keyframes showUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes eraseOut{
    from{
        left:0;
    }
    to{
        left: 50px;
        opacity: 0;
    }
}
@keyframes hide{
    to{
        opacity: 0;
    }
}
#aside-wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}
#aside-wrapper.erase{
    
}

#button-skip {
    font-size: 2em;
    opacity: 0;
    cursor: pointer;
}
#button-skip.show:hover{
    opacity: 1;
}
#button-skip.show{
    padding: 10px;
    opacity: 0.6;
    margin-left: 10px;
    transition: all 0.3s;
}

#skip-wrapper {
    height: 43px;
    line-height: 1.8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.text-fill {
    display: inline-block;
    min-width: 5em;
    outline: none;
    border-bottom: solid 2px white;
    box-sizing: border-box;
    padding: 0 0.5em;
    white-space: normal;
    word-break: break-all;
}
